{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <title>種目を追加</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <header class="header">

            <h1>筋トレ管理アプリ</h1>

            <p>
                種目を追加
            </p>

        </header>


        <main>

            <div class="card goal-form-card">

                <h2>種目を追加</h2>

                <p>
                    {{ workout.workout_date }} のトレーニング
                </p>


                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="button primary-button">
                        種目を追加
                    </button>

                </form>

            </div>


            <footer>

                <a class="text-link" href="{% url 'workout_list' %}">
                    トレーニング一覧に戻る
                </a>

                <a class="text-link" href="{% url 'home' %}">
                    ホームに戻る
                </a>

            </footer>

        </main>

    </div>

</body>

</html>