<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">

        <div class="card login-card">

            <h1>新規登録</h1>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="primary-button">
                    登録
                </button>
            </form>

            <p>
                <a href="{% url 'login' %}">
                    ログイン画面へ
                </a>
            </p>

        </div>

    </div>

</body>
</html>