<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>
        {% if workout_set %}
            セットを編集
        {% else %}
            セットを追加
        {% endif %}
    </title>
</head>

<body>

    {% if workout_set %}

        <h1>セットを編集</h1>

        <p>
            種目：{{ workout_set.exercise.name }}
        </p>

    {% else %}

        <h1>セットを追加</h1>

        <p>
            種目：{{ exercise.name }}
        </p>

    {% endif %}


    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">

            {% if workout_set %}
                保存する
            {% else %}
                セットを追加
            {% endif %}

        </button>

    </form>


    <br>

    <a href="{% url 'workout_list' %}">
        トレーニング一覧に戻る
    </a>

    <br>

    <a href="{% url 'home' %}">
        ホームに戻る
    </a>
    
</body>

</html>