{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>体重記録</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <header class="header">

            <h1>⚖️ 体重記録</h1>

            <p>
                今日の体重を記録しましょう
            </p>

        </header>


        <main>

            <section class="card weight-form-card">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="primary-button">
                        保存する
                    </button>

                </form>

            </section>

        </main>


        <footer>

            <a class="home-link" href="{% url 'home' %}">
                ← ホームに戻る
            </a>

            <a class="home-link" href="{% url 'weight_list' %}">
                体重履歴を見る
            </a>

        </footer>

    </div>

</body>

</html>